[
    [
        "^",
        "da",
        "\u5927"
    ],
    [
        "^",
        "da qiang",
        "\u5927 \u5899"
    ],
    [
        "^",
        "da qiang nei",
        "\u5927 \u5899 \u5185"
    ],
    [
        "^",
        "da qiang nei wai",
        "\u5927 \u5899 \u5185 \u5916"
    ],
    [
        "^ \u5927",
        "qiang",
        "\u5899"
    ],
    [
        "^ \u5927",
        "qiang nei",
        "\u5899 \u5185"
    ],
    [
        "^ \u5927",
        "qiang nei wai",
        "\u5899 \u5185 \u5916"
    ],
    [
        "^ \u5927 \u5899",
        "nei",
        "\u5185"
    ],
    [
        "^ \u5927 \u5899",
        "nei wai",
        "\u5185 \u5916"
    ],
    [
        "^ \u5927 \u5899 \u5185",
        "wai",
        "\u5916"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d",
        "bei",
        "\u5317"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d",
        "bei jing",
        "\u5317 \u4eac"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d",
        "bei jing shi",
        "\u5317 \u4eac \u5e02"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d",
        "bei jing shi jian",
        "\u5317 \u4eac \u5e02 \u76d1"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d",
        "bei jing shi jian yu",
        "\u5317 \u4eac \u5e02 \u76d1 \u72f1"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317",
        "jing",
        "\u4eac"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317",
        "jing shi",
        "\u4eac \u5e02"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317",
        "jing shi jian",
        "\u4eac \u5e02 \u76d1"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317",
        "jing shi jian yu",
        "\u4eac \u5e02 \u76d1 \u72f1"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317",
        "jing shi jian yu ji",
        "\u4eac \u5e02 \u76d1 \u72f1 \u7eaa"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac",
        "shi",
        "\u5e02"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac",
        "shi jian",
        "\u5e02 \u76d1"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac",
        "shi jian yu",
        "\u5e02 \u76d1 \u72f1"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac",
        "shi jian yu ji",
        "\u5e02 \u76d1 \u72f1 \u7eaa"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac",
        "shi jian yu ji shi",
        "\u5e02 \u76d1 \u72f1 \u7eaa \u5b9e"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac \u5e02",
        "jian",
        "\u76d1"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac \u5e02",
        "jian yu",
        "\u76d1 \u72f1"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac \u5e02",
        "jian yu ji",
        "\u76d1 \u72f1 \u7eaa"
    ],
    [
        "^ \u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac \u5e02",
        "jian yu ji shi",
        "\u76d1 \u72f1 \u7eaa \u5b9e"
    ],
    [
        "\u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac \u5e02 \u76d1",
        "yu",
        "\u72f1"
    ],
    [
        "\u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac \u5e02 \u76d1",
        "yu ji",
        "\u72f1 \u7eaa"
    ],
    [
        "\u5927 \u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac \u5e02 \u76d1",
        "yu ji shi",
        "\u72f1 \u7eaa \u5b9e"
    ],
    [
        "\u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac \u5e02 \u76d1 \u72f1",
        "ji",
        "\u7eaa"
    ],
    [
        "\u5899 \u5185 \u5916 \uff0d \uff0d \u5317 \u4eac \u5e02 \u76d1 \u72f1",
        "ji shi",
        "\u7eaa \u5b9e"
    ],
    [
        "\u5185 \u5916 \uff0d \uff0d \u5317 \u4eac \u5e02 \u76d1 \u72f1 \u7eaa",
        "shi",
        "\u5b9e"
    ],
    [
        "\uff0d \uff0d \u5317 \u4eac \u5e02 \u76d1 \u72f1 \u7eaa \u5b9e \uff08",
        "san",
        "\u4e09"
    ],
    [
        "^",
        "huo",
        "\u6216"
    ],
    [
        "^",
        "huo xu",
        "\u6216 \u8bb8"
    ],
    [
        "^ \u6216",
        "xu",
        "\u8bb8"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c",
        "yan",
        "\u4e25"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c",
        "yan tong",
        "\u4e25 \u540c"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c",
        "yan tong yi",
        "\u4e25 \u540c \u5df2"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c",
        "yan tong yi zai",
        "\u4e25 \u540c \u5df2 \u5728"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c",
        "yan tong yi zai zhe",
        "\u4e25 \u540c \u5df2 \u5728 \u8fd9"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25",
        "tong",
        "\u540c"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25",
        "tong yi",
        "\u540c \u5df2"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25",
        "tong yi zai",
        "\u540c \u5df2 \u5728"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25",
        "tong yi zai zhe",
        "\u540c \u5df2 \u5728 \u8fd9"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25",
        "tong yi zai zhe mang",
        "\u540c \u5df2 \u5728 \u8fd9 \u5fd9"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c",
        "yi",
        "\u5df2"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c",
        "yi zai",
        "\u5df2 \u5728"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c",
        "yi zai zhe",
        "\u5df2 \u5728 \u8fd9"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c",
        "yi zai zhe mang",
        "\u5df2 \u5728 \u8fd9 \u5fd9"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c",
        "yi zai zhe mang lu",
        "\u5df2 \u5728 \u8fd9 \u5fd9 \u788c"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2",
        "zai",
        "\u5728"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2",
        "zai zhe",
        "\u5728 \u8fd9"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2",
        "zai zhe mang",
        "\u5728 \u8fd9 \u5fd9"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2",
        "zai zhe mang lu",
        "\u5728 \u8fd9 \u5fd9 \u788c"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2",
        "zai zhe mang lu zhong",
        "\u5728 \u8fd9 \u5fd9 \u788c \u4e2d"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2 \u5728",
        "zhe",
        "\u8fd9"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2 \u5728",
        "zhe mang",
        "\u8fd9 \u5fd9"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2 \u5728",
        "zhe mang lu",
        "\u8fd9 \u5fd9 \u788c"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2 \u5728",
        "zhe mang lu zhong",
        "\u8fd9 \u5fd9 \u788c \u4e2d"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2 \u5728 \u8fd9",
        "mang",
        "\u5fd9"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2 \u5728 \u8fd9",
        "mang lu",
        "\u5fd9 \u788c"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2 \u5728 \u8fd9",
        "mang lu zhong",
        "\u5fd9 \u788c \u4e2d"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9",
        "lu",
        "\u788c"
    ],
    [
        "^ \u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9",
        "lu zhong",
        "\u788c \u4e2d"
    ],
    [
        "\u6216 \u8bb8 \uff0c \u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c",
        "zhong",
        "\u4e2d"
    ],
    [
        "\uff0c \u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c",
        "kai",
        "\u5f00"
    ],
    [
        "\uff0c \u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c",
        "kai shi",
        "\u5f00 \u59cb"
    ],
    [
        "\uff0c \u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c",
        "kai shi suan",
        "\u5f00 \u59cb \u7b97"
    ],
    [
        "\uff0c \u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c",
        "kai shi suan qing",
        "\u5f00 \u59cb \u7b97 \u6e05"
    ],
    [
        "\uff0c \u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c",
        "kai shi suan qing le",
        "\u5f00 \u59cb \u7b97 \u6e05 \u4e86"
    ],
    [
        "\u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00",
        "shi",
        "\u59cb"
    ],
    [
        "\u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00",
        "shi suan",
        "\u59cb \u7b97"
    ],
    [
        "\u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00",
        "shi suan qing",
        "\u59cb \u7b97 \u6e05"
    ],
    [
        "\u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00",
        "shi suan qing le",
        "\u59cb \u7b97 \u6e05 \u4e86"
    ],
    [
        "\u4e25 \u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00",
        "shi suan qing le wei",
        "\u59cb \u7b97 \u6e05 \u4e86 \u4e3a"
    ],
    [
        "\u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb",
        "suan",
        "\u7b97"
    ],
    [
        "\u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb",
        "suan qing",
        "\u7b97 \u6e05"
    ],
    [
        "\u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb",
        "suan qing le",
        "\u7b97 \u6e05 \u4e86"
    ],
    [
        "\u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb",
        "suan qing le wei",
        "\u7b97 \u6e05 \u4e86 \u4e3a"
    ],
    [
        "\u540c \u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb",
        "suan qing le wei na",
        "\u7b97 \u6e05 \u4e86 \u4e3a \u90a3"
    ],
    [
        "\u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97",
        "qing",
        "\u6e05"
    ],
    [
        "\u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97",
        "qing le",
        "\u6e05 \u4e86"
    ],
    [
        "\u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97",
        "qing le wei",
        "\u6e05 \u4e86 \u4e3a"
    ],
    [
        "\u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97",
        "qing le wei na",
        "\u6e05 \u4e86 \u4e3a \u90a3"
    ],
    [
        "\u5df2 \u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97",
        "qing le wei na jiu",
        "\u6e05 \u4e86 \u4e3a \u90a3 \u4e5d"
    ],
    [
        "\u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97 \u6e05",
        "le",
        "\u4e86"
    ],
    [
        "\u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97 \u6e05",
        "le wei",
        "\u4e86 \u4e3a"
    ],
    [
        "\u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97 \u6e05",
        "le wei na",
        "\u4e86 \u4e3a \u90a3"
    ],
    [
        "\u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97 \u6e05",
        "le wei na jiu",
        "\u4e86 \u4e3a \u90a3 \u4e5d"
    ],
    [
        "\u5728 \u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97 \u6e05",
        "le wei na jiu shi",
        "\u4e86 \u4e3a \u90a3 \u4e5d \u5341"
    ],
    [
        "\u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97 \u6e05 \u4e86",
        "wei",
        "\u4e3a"
    ],
    [
        "\u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97 \u6e05 \u4e86",
        "wei na",
        "\u4e3a \u90a3"
    ],
    [
        "\u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97 \u6e05 \u4e86",
        "wei na jiu",
        "\u4e3a \u90a3 \u4e5d"
    ],
    [
        "\u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97 \u6e05 \u4e86",
        "wei na jiu shi",
        "\u4e3a \u90a3 \u4e5d \u5341"
    ],
    [
        "\u8fd9 \u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97 \u6e05 \u4e86",
        "wei na jiu shi wan",
        "\u4e3a \u90a3 \u4e5d \u5341 \u4e07"
    ],
    [
        "\u5fd9 \u788c \u4e2d \uff0c \u5f00 \u59cb \u7b97 \u6e05 \u4e86 \u4e3a",
        "na",
        "\u90a3"
    ]
]