[
    [
        "^",
        "mei",
        "\u6ca1"
    ],
    [
        "^",
        "mei shi",
        "\u6ca1 \u4e8b"
    ],
    [
        "^",
        "mei shi qing",
        "\u6ca1 \u4e8b \u60c5"
    ],
    [
        "^",
        "mei shi qing zuo",
        "\u6ca1 \u4e8b \u60c5 \u505a"
    ],
    [
        "^",
        "mei shi qing zuo a",
        "\u6ca1 \u4e8b \u60c5 \u505a \u554a"
    ],
    [
        "^ \u6ca1",
        "shi",
        "\u4e8b"
    ],
    [
        "^ \u6ca1",
        "shi qing",
        "\u4e8b \u60c5"
    ],
    [
        "^ \u6ca1",
        "shi qing zuo",
        "\u4e8b \u60c5 \u505a"
    ],
    [
        "^ \u6ca1",
        "shi qing zuo a",
        "\u4e8b \u60c5 \u505a \u554a"
    ],
    [
        "^ \u6ca1 \u4e8b",
        "qing",
        "\u60c5"
    ],
    [
        "^ \u6ca1 \u4e8b",
        "qing zuo",
        "\u60c5 \u505a"
    ],
    [
        "^ \u6ca1 \u4e8b",
        "qing zuo a",
        "\u60c5 \u505a \u554a"
    ],
    [
        "^ \u6ca1 \u4e8b \u60c5",
        "zuo",
        "\u505a"
    ],
    [
        "^ \u6ca1 \u4e8b \u60c5",
        "zuo a",
        "\u505a \u554a"
    ],
    [
        "^ \u6ca1 \u4e8b \u60c5 \u505a",
        "a",
        "\u554a"
    ],
    [
        "^",
        "jiu",
        "\u5c31"
    ],
    [
        "^",
        "jiu wo",
        "\u5c31 \u6211"
    ],
    [
        "^",
        "jiu wo yi",
        "\u5c31 \u6211 \u4e00"
    ],
    [
        "^ \u5c31",
        "wo",
        "\u6211"
    ],
    [
        "^ \u5c31",
        "wo yi",
        "\u6211 \u4e00"
    ],
    [
        "^ \u5c31 \u6211",
        "yi",
        "\u4e00"
    ],
    [
        "^",
        "en",
        "\u55ef"
    ],
    [
        "^",
        "shen",
        "\u4ec0"
    ],
    [
        "^",
        "shen me",
        "\u4ec0 \u4e48"
    ],
    [
        "^",
        "shen me bu",
        "\u4ec0 \u4e48 \u4e0d"
    ],
    [
        "^",
        "shen me bu liao",
        "\u4ec0 \u4e48 \u4e0d \u4e86"
    ],
    [
        "^",
        "shen me bu liao jie",
        "\u4ec0 \u4e48 \u4e0d \u4e86 \u89e3"
    ],
    [
        "^ \u4ec0",
        "me",
        "\u4e48"
    ],
    [
        "^ \u4ec0",
        "me bu",
        "\u4e48 \u4e0d"
    ],
    [
        "^ \u4ec0",
        "me bu liao",
        "\u4e48 \u4e0d \u4e86"
    ],
    [
        "^ \u4ec0",
        "me bu liao jie",
        "\u4e48 \u4e0d \u4e86 \u89e3"
    ],
    [
        "^ \u4ec0 \u4e48",
        "bu",
        "\u4e0d"
    ],
    [
        "^ \u4ec0 \u4e48",
        "bu liao",
        "\u4e0d \u4e86"
    ],
    [
        "^ \u4ec0 \u4e48",
        "bu liao jie",
        "\u4e0d \u4e86 \u89e3"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d",
        "liao",
        "\u4e86"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d",
        "liao jie",
        "\u4e86 \u89e3"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d \u4e86",
        "jie",
        "\u89e3"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d \u4e86 \u89e3 _",
        "jian",
        "\u89c1"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d \u4e86 \u89e3 _",
        "jian mian",
        "\u89c1 \u9762"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d \u4e86 \u89e3 _",
        "jian mian zai",
        "\u89c1 \u9762 \u518d"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d \u4e86 \u89e3 _",
        "jian mian zai shuo",
        "\u89c1 \u9762 \u518d \u8bf4"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d \u4e86 \u89e3 _ \u89c1",
        "mian",
        "\u9762"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d \u4e86 \u89e3 _ \u89c1",
        "mian zai",
        "\u9762 \u518d"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d \u4e86 \u89e3 _ \u89c1",
        "mian zai shuo",
        "\u9762 \u518d \u8bf4"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d \u4e86 \u89e3 _ \u89c1 \u9762",
        "zai",
        "\u518d"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d \u4e86 \u89e3 _ \u89c1 \u9762",
        "zai shuo",
        "\u518d \u8bf4"
    ],
    [
        "^ \u4ec0 \u4e48 \u4e0d \u4e86 \u89e3 _ \u89c1 \u9762 \u518d",
        "shuo",
        "\u8bf4"
    ],
    [
        "^",
        "ming",
        "\u660e"
    ],
    [
        "^",
        "ming tian",
        "\u660e \u5929"
    ],
    [
        "^",
        "ming tian yao",
        "\u660e \u5929 \u8981"
    ],
    [
        "^",
        "ming tian yao xia",
        "\u660e \u5929 \u8981 \u4e0b"
    ],
    [
        "^",
        "ming tian yao xia yu",
        "\u660e \u5929 \u8981 \u4e0b \u96e8"
    ],
    [
        "^ \u660e",
        "tian",
        "\u5929"
    ],
    [
        "^ \u660e",
        "tian yao",
        "\u5929 \u8981"
    ],
    [
        "^ \u660e",
        "tian yao xia",
        "\u5929 \u8981 \u4e0b"
    ],
    [
        "^ \u660e",
        "tian yao xia yu",
        "\u5929 \u8981 \u4e0b \u96e8"
    ],
    [
        "^ \u660e \u5929",
        "yao",
        "\u8981"
    ],
    [
        "^ \u660e \u5929",
        "yao xia",
        "\u8981 \u4e0b"
    ],
    [
        "^ \u660e \u5929",
        "yao xia yu",
        "\u8981 \u4e0b \u96e8"
    ],
    [
        "^ \u660e \u5929 \u8981",
        "xia",
        "\u4e0b"
    ],
    [
        "^ \u660e \u5929 \u8981",
        "xia yu",
        "\u4e0b \u96e8"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b",
        "yu",
        "\u96e8"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c",
        "chu",
        "\u51fa"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c",
        "chu men",
        "\u51fa \u95e8"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c",
        "chu men de",
        "\u51fa \u95e8 \u7684"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c",
        "chu men de shi",
        "\u51fa \u95e8 \u7684 \u65f6"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c",
        "chu men de shi hou",
        "\u51fa \u95e8 \u7684 \u65f6 \u5019"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa",
        "men",
        "\u95e8"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa",
        "men de",
        "\u95e8 \u7684"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa",
        "men de shi",
        "\u95e8 \u7684 \u65f6"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa",
        "men de shi hou",
        "\u95e8 \u7684 \u65f6 \u5019"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa",
        "men de shi hou bu",
        "\u95e8 \u7684 \u65f6 \u5019 \u4e0d"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8",
        "de",
        "\u7684"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8",
        "de shi",
        "\u7684 \u65f6"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8",
        "de shi hou",
        "\u7684 \u65f6 \u5019"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8",
        "de shi hou bu",
        "\u7684 \u65f6 \u5019 \u4e0d"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8",
        "de shi hou bu yao",
        "\u7684 \u65f6 \u5019 \u4e0d \u8981"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684",
        "shi",
        "\u65f6"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684",
        "shi hou",
        "\u65f6 \u5019"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684",
        "shi hou bu",
        "\u65f6 \u5019 \u4e0d"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684",
        "shi hou bu yao",
        "\u65f6 \u5019 \u4e0d \u8981"
    ],
    [
        "^ \u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684",
        "shi hou bu yao wang",
        "\u65f6 \u5019 \u4e0d \u8981 \u5fd8"
    ],
    [
        "\u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6",
        "hou",
        "\u5019"
    ],
    [
        "\u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6",
        "hou bu",
        "\u5019 \u4e0d"
    ],
    [
        "\u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6",
        "hou bu yao",
        "\u5019 \u4e0d \u8981"
    ],
    [
        "\u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6",
        "hou bu yao wang",
        "\u5019 \u4e0d \u8981 \u5fd8"
    ],
    [
        "\u660e \u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6",
        "hou bu yao wang ji",
        "\u5019 \u4e0d \u8981 \u5fd8 \u8bb0"
    ],
    [
        "\u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019",
        "bu",
        "\u4e0d"
    ],
    [
        "\u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019",
        "bu yao",
        "\u4e0d \u8981"
    ],
    [
        "\u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019",
        "bu yao wang",
        "\u4e0d \u8981 \u5fd8"
    ],
    [
        "\u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019",
        "bu yao wang ji",
        "\u4e0d \u8981 \u5fd8 \u8bb0"
    ],
    [
        "\u5929 \u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019",
        "bu yao wang ji dai",
        "\u4e0d \u8981 \u5fd8 \u8bb0 \u5e26"
    ],
    [
        "\u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019 \u4e0d",
        "yao",
        "\u8981"
    ],
    [
        "\u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019 \u4e0d",
        "yao wang",
        "\u8981 \u5fd8"
    ],
    [
        "\u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019 \u4e0d",
        "yao wang ji",
        "\u8981 \u5fd8 \u8bb0"
    ],
    [
        "\u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019 \u4e0d",
        "yao wang ji dai",
        "\u8981 \u5fd8 \u8bb0 \u5e26"
    ],
    [
        "\u8981 \u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019 \u4e0d",
        "yao wang ji dai san",
        "\u8981 \u5fd8 \u8bb0 \u5e26 \u4f1e"
    ],
    [
        "\u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019 \u4e0d \u8981",
        "wang",
        "\u5fd8"
    ],
    [
        "\u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019 \u4e0d \u8981",
        "wang ji",
        "\u5fd8 \u8bb0"
    ],
    [
        "\u4e0b \u96e8 \uff0c \u51fa \u95e8 \u7684 \u65f6 \u5019 \u4e0d \u8981",
        "wang ji dai",
        "\u5fd8 \u8bb0 \u5e26"
    ]
]