[
    [
        "^",
        "lao",
        "\u8001"
    ],
    [
        "^",
        "lao shi",
        "\u8001 \u5e08"
    ],
    [
        "^ \u8001",
        "shi",
        "\u5e08"
    ],
    [
        "^ \u8001 \u5e08 ,",
        "ma",
        "\u5988"
    ],
    [
        "^ \u8001 \u5e08 ,",
        "ma mi",
        "\u5988 \u54aa"
    ],
    [
        "^ \u8001 \u5e08 ,",
        "ma mi hua",
        "\u5988 \u54aa \u8bdd"
    ],
    [
        "^ \u8001 \u5e08 ,",
        "ma mi hua xiang",
        "\u5988 \u54aa \u8bdd \u60f3"
    ],
    [
        "^ \u8001 \u5e08 ,",
        "ma mi hua xiang mai",
        "\u5988 \u54aa \u8bdd \u60f3 \u4e70"
    ],
    [
        "^ \u8001 \u5e08 , \u5988",
        "mi",
        "\u54aa"
    ],
    [
        "^ \u8001 \u5e08 , \u5988",
        "mi hua",
        "\u54aa \u8bdd"
    ],
    [
        "^ \u8001 \u5e08 , \u5988",
        "mi hua xiang",
        "\u54aa \u8bdd \u60f3"
    ],
    [
        "^ \u8001 \u5e08 , \u5988",
        "mi hua xiang mai",
        "\u54aa \u8bdd \u60f3 \u4e70"
    ],
    [
        "^ \u8001 \u5e08 , \u5988",
        "mi hua xiang mai he",
        "\u54aa \u8bdd \u60f3 \u4e70 \u76d2"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa",
        "hua",
        "\u8bdd"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa",
        "hua xiang",
        "\u8bdd \u60f3"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa",
        "hua xiang mai",
        "\u8bdd \u60f3 \u4e70"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa",
        "hua xiang mai he",
        "\u8bdd \u60f3 \u4e70 \u76d2"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa",
        "hua xiang mai he yue",
        "\u8bdd \u60f3 \u4e70 \u76d2 \u6708"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd",
        "xiang",
        "\u60f3"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd",
        "xiang mai",
        "\u60f3 \u4e70"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd",
        "xiang mai he",
        "\u60f3 \u4e70 \u76d2"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd",
        "xiang mai he yue",
        "\u60f3 \u4e70 \u76d2 \u6708"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd",
        "xiang mai he yue bing",
        "\u60f3 \u4e70 \u76d2 \u6708 \u997c"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3",
        "mai",
        "\u4e70"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3",
        "mai he",
        "\u4e70 \u76d2"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3",
        "mai he yue",
        "\u4e70 \u76d2 \u6708"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3",
        "mai he yue bing",
        "\u4e70 \u76d2 \u6708 \u997c"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3",
        "mai he yue bing bi",
        "\u4e70 \u76d2 \u6708 \u997c \u6bd4"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70",
        "he",
        "\u76d2"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70",
        "he yue",
        "\u76d2 \u6708"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70",
        "he yue bing",
        "\u76d2 \u6708 \u997c"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70",
        "he yue bing bi",
        "\u76d2 \u6708 \u997c \u6bd4"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70",
        "he yue bing bi ni",
        "\u76d2 \u6708 \u997c \u6bd4 \u4f60"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70 \u76d2",
        "yue",
        "\u6708"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70 \u76d2",
        "yue bing",
        "\u6708 \u997c"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70 \u76d2",
        "yue bing bi",
        "\u6708 \u997c \u6bd4"
    ],
    [
        "^ \u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70 \u76d2",
        "yue bing bi ni",
        "\u6708 \u997c \u6bd4 \u4f60"
    ],
    [
        "\u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70 \u76d2 \u6708",
        "bing",
        "\u997c"
    ],
    [
        "\u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70 \u76d2 \u6708",
        "bing bi",
        "\u997c \u6bd4"
    ],
    [
        "\u8001 \u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70 \u76d2 \u6708",
        "bing bi ni",
        "\u997c \u6bd4 \u4f60"
    ],
    [
        "\u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c",
        "bi",
        "\u6bd4"
    ],
    [
        "\u5e08 , \u5988 \u54aa \u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c",
        "bi ni",
        "\u6bd4 \u4f60"
    ],
    [
        ", \u5988 \u54aa \u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4",
        "ni",
        "\u4f60"
    ],
    [
        "\u54aa \u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 ,",
        "ni",
        "\u4f60"
    ],
    [
        "\u54aa \u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 ,",
        "ni yao",
        "\u4f60 \u8981"
    ],
    [
        "\u54aa \u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 ,",
        "ni yao chuan",
        "\u4f60 \u8981 \u4f20"
    ],
    [
        "\u54aa \u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 ,",
        "ni yao chuan tong",
        "\u4f60 \u8981 \u4f20 \u7edf"
    ],
    [
        "\u54aa \u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 ,",
        "ni yao chuan tong ding",
        "\u4f60 \u8981 \u4f20 \u7edf \u5b9a"
    ],
    [
        "\u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60",
        "yao",
        "\u8981"
    ],
    [
        "\u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60",
        "yao chuan",
        "\u8981 \u4f20"
    ],
    [
        "\u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60",
        "yao chuan tong",
        "\u8981 \u4f20 \u7edf"
    ],
    [
        "\u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60",
        "yao chuan tong ding",
        "\u8981 \u4f20 \u7edf \u5b9a"
    ],
    [
        "\u8bdd \u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60",
        "yao chuan tong ding bing",
        "\u8981 \u4f20 \u7edf \u5b9a \u51b0"
    ],
    [
        "\u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981",
        "chuan",
        "\u4f20"
    ],
    [
        "\u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981",
        "chuan tong",
        "\u4f20 \u7edf"
    ],
    [
        "\u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981",
        "chuan tong ding",
        "\u4f20 \u7edf \u5b9a"
    ],
    [
        "\u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981",
        "chuan tong ding bing",
        "\u4f20 \u7edf \u5b9a \u51b0"
    ],
    [
        "\u60f3 \u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981",
        "chuan tong ding bing pi",
        "\u4f20 \u7edf \u5b9a \u51b0 \u76ae"
    ],
    [
        "\u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981 \u4f20",
        "tong",
        "\u7edf"
    ],
    [
        "\u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981 \u4f20",
        "tong ding",
        "\u7edf \u5b9a"
    ],
    [
        "\u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981 \u4f20",
        "tong ding bing",
        "\u7edf \u5b9a \u51b0"
    ],
    [
        "\u4e70 \u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981 \u4f20",
        "tong ding bing pi",
        "\u7edf \u5b9a \u51b0 \u76ae"
    ],
    [
        "\u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981 \u4f20 \u7edf",
        "ding",
        "\u5b9a"
    ],
    [
        "\u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981 \u4f20 \u7edf",
        "ding bing",
        "\u5b9a \u51b0"
    ],
    [
        "\u76d2 \u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981 \u4f20 \u7edf",
        "ding bing pi",
        "\u5b9a \u51b0 \u76ae"
    ],
    [
        "\u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981 \u4f20 \u7edf \u5b9a",
        "bing",
        "\u51b0"
    ],
    [
        "\u6708 \u997c \u6bd4 \u4f60 , \u4f60 \u8981 \u4f20 \u7edf \u5b9a",
        "bing pi",
        "\u51b0 \u76ae"
    ],
    [
        "\u997c \u6bd4 \u4f60 , \u4f60 \u8981 \u4f20 \u7edf \u5b9a \u51b0",
        "pi",
        "\u76ae"
    ],
    [
        "^",
        "ni",
        "\u4f60"
    ],
    [
        "^",
        "ni ji",
        "\u4f60 \u51e0"
    ],
    [
        "^",
        "ni ji shi",
        "\u4f60 \u51e0 \u65f6"
    ],
    [
        "^",
        "ni ji shi fan",
        "\u4f60 \u51e0 \u65f6 \u8fd4"
    ],
    [
        "^",
        "ni ji shi fan li",
        "\u4f60 \u51e0 \u65f6 \u8fd4 \u9ece"
    ],
    [
        "^ \u4f60",
        "ji",
        "\u51e0"
    ],
    [
        "^ \u4f60",
        "ji shi",
        "\u51e0 \u65f6"
    ],
    [
        "^ \u4f60",
        "ji shi fan",
        "\u51e0 \u65f6 \u8fd4"
    ],
    [
        "^ \u4f60",
        "ji shi fan li",
        "\u51e0 \u65f6 \u8fd4 \u9ece"
    ],
    [
        "^ \u4f60",
        "ji shi fan li jiao",
        "\u51e0 \u65f6 \u8fd4 \u9ece \u6559"
    ],
    [
        "^ \u4f60 \u51e0",
        "shi",
        "\u65f6"
    ],
    [
        "^ \u4f60 \u51e0",
        "shi fan",
        "\u65f6 \u8fd4"
    ],
    [
        "^ \u4f60 \u51e0",
        "shi fan li",
        "\u65f6 \u8fd4 \u9ece"
    ],
    [
        "^ \u4f60 \u51e0",
        "shi fan li jiao",
        "\u65f6 \u8fd4 \u9ece \u6559"
    ],
    [
        "^ \u4f60 \u51e0",
        "shi fan li jiao wo",
        "\u65f6 \u8fd4 \u9ece \u6559 \u6211"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6",
        "fan",
        "\u8fd4"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6",
        "fan li",
        "\u8fd4 \u9ece"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6",
        "fan li jiao",
        "\u8fd4 \u9ece \u6559"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6",
        "fan li jiao wo",
        "\u8fd4 \u9ece \u6559 \u6211"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6",
        "fan li jiao wo tian",
        "\u8fd4 \u9ece \u6559 \u6211 \u586b"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4",
        "li",
        "\u9ece"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4",
        "li jiao",
        "\u9ece \u6559"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4",
        "li jiao wo",
        "\u9ece \u6559 \u6211"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4",
        "li jiao wo tian",
        "\u9ece \u6559 \u6211 \u586b"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4",
        "li jiao wo tian fen",
        "\u9ece \u6559 \u6211 \u586b \u4efd"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4 \u9ece",
        "jiao",
        "\u6559"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4 \u9ece",
        "jiao wo",
        "\u6559 \u6211"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4 \u9ece",
        "jiao wo tian",
        "\u6559 \u6211 \u586b"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4 \u9ece",
        "jiao wo tian fen",
        "\u6559 \u6211 \u586b \u4efd"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4 \u9ece",
        "jiao wo tian fen biao",
        "\u6559 \u6211 \u586b \u4efd \u8868"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4 \u9ece \u6559",
        "wo",
        "\u6211"
    ],
    [
        "^ \u4f60 \u51e0 \u65f6 \u8fd4 \u9ece \u6559",
        "wo tian",
        "\u6211 \u586b"
    ]
]